[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[[source]]

url = "http://devpi:3141/russ/dev/+simple/"
verify_ssl = false
name = "russ/dev"


[dev-packages]

devpi-client = "*"
setuptools-scm = "*"


[packages]

pytest = "*"
msgflow = ">=0.1.1.dev0+g726894a.d20171210"
confluent-kafka = "*"
bottle = "*"
